@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #0ea5e9, #20adc3);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-track {
    background: #0d438f;
  }
}

.page {
  min-height: calc(100vh - 80px);
  padding-left: 16px;
  padding-right: 16px;
}

.header-background {
  background: linear-gradient(90deg, #00193a, #0238b7, #0242b1);
}

/* .background {
  background: linear-gradient(50deg, #0d2240, #054386, #0a2987, #223fb0, #213895);
} */

.background-image {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #002561, #0232a1);
  overflow: hidden;
}

/*  background: linear-gradient(50deg, #0d2240, #054386, #0a2987, #223fb0, #213895) */

.background-image::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/banner2.png');
  opacity: 0.00981;
  z-index: 0;
}

.background-image > * {
  position: relative;
  z-index: 1;
}

.background-vault-row {
  background: linear-gradient(45deg, #0b1e3a, hsl(227, 86%, 37%));
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
